.navbar {
  position: relative;
  background-color: white;
  border-bottom: 0.4px solid #E5E5E5;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.navbar-brand {
  position: absolute;
  left: 50%;
  margin-left: -50px !important;  /* 50% of your logo width */
  display: block;
}

.active {
  border-bottom: 4px solid rgb(29, 205, 254);
  margin-bottom: -0.2rem;
}

.nav-vertical-line {
  width: 0px;
  height: 28px;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 2px;
  margin-top: 7px;
  margin-left: 10px;
}

.dropdown-toggle::after {
  content: none;
  text-decoration: none;
}

a.time {
  color: rgb(29, 205, 254);
  text-decoration: none;
  padding-right: .3rem;
  padding-left: 1rem;
  display: block;
  padding-top: .5rem;
}

.nav-text {
  display: block;
  padding-top: .75rem;
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: .8rem;
  color: grey;
}

a.location {
  color: rgb(29, 205, 254);
  text-decoration: none;
  padding-right: .3rem;
  padding-left: .3rem;
  display: block;
  padding-top: .5rem;
}

.search-address {
  min-width: 20rem;
}

.form-control {
  border: none;
  background-color: #F7F7F7;
}

.form-label {
  font-weight: bold;
}

.row {
  padding-top: 5rem;
}